<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}


<div class="counter">Generation number:{{ game.life_counter }}</div>

{% block app_content %}

<a href="index.html" class="btn btn-warning home">Go home</a>
<a href="live.html" class="btn btn-info refresh">Refresh</a>
<br>
<div class="counter">Generation number:{{ game.life_counter }}</div>






<table class="world">
    {% for i in range(game.world|length) %}
        <tr>
        {% for j in range(game.world[i]|length) %}
           {% if game.world[i][j] %}
                <td class="cell living-cell"></td>
           {% elif game.world[i][j]==0 and game.old_world[i][j]==1 %}
                <td class="cell dead-cell"></td>
           {% else %}
                <td class="cell"></td>
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
setInterval(() => window.location.reload(), 1000);
</script>
{% endblock %}





</body>
</html>